@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-around;

}
.background {
    height: 20vh;
    width: 100%;
    padding-top: 3%;
}

.mobilenav {
    display: none;
}

.menu {
    display: none;
}


.logo{
    color: #000;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}

nav a{
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
    padding: 10px 25px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

nav a:hover{
    border-bottom: 2px solid #000;
}

.fa-solid{
    color: #000;
    padding: 10px 20px;
}

.fa-solid:hover{
    border-bottom: 2px solid #000;
}

.container{
    display: flex;
    align-items: center;
}

.container img{
    max-width: 40%;
    height: auto;
    margin-left: 10%;
    padding-top: 4%;
}

.container p{
    padding-left: 5%;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
} 

.about-header{
    font-size: 45px;
    text-transform: capitalize;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.content{
    display: flex;
    align-items: center;
}

.content p{
    margin-left: 8%;
    font-size: 29px;
}

.content img{
    height: auto;
    max-width: 1500px;
    padding-left: 4%;
}

.team-txt h4{
    padding-top: 8%;
    padding-bottom: 3%;
    font-size: 45px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.cards-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 20px;
    padding-left: 10%;
    padding-right: 10%;

    
}

.card {
    flex: 1 1 calc(33.33% - 20px); 
    box-sizing: border-box; 
    text-align: center; 
    background-color: #f0f0f0; 
    padding: 10px; 
    border-radius: 5px; 
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px; 
    margin-bottom: 10px;
}

.card h5 {
    margin: 0;
    font-family: "Poppins", sans-serif;
}



footer {
    height: 50vh;
    background-color: #fff;
    color: #000;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between; 
    max-width: 1500px; 
    margin: 0 auto; 
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    margin: 0 10px;
    padding-top: 7%;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #000; 
    font-family: "Poppins", sans-serif;
    font-size: 25px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section li {
    font-size: 14px;
    line-height: 1.6;
    color: #000;
    margin-bottom: 5px;
    font-size: 20px;
}

.footer-section li:hover {
    color: #fff;
    cursor: pointer;
}

.section-end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    color: #000;
    max-width: 2000px;
    border: 2px solid #000;
    margin: 20px auto; 
}

.left-content {
    display: flex;
    align-items: center;
}

.logo-end {
    padding-left: 33%;
    height: auto;
    margin-right: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 55px;

}

h6 {
    font-size: 16px;
    margin: 0;
}

.right-content {
    display: flex;
    align-items: center;
}

i, .fa-thin{
    margin-left: 15px;
    text-decoration: none;
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
    color: #000;
}

i, .fa-thin:hover{
    transform: scale(1.1);
}



@media screen and (max-width: 571px)  {
    nav {
    display: none;

    }

    .icons{
        display: none;
    }

    header {
        justify-content: space-between;
        padding-left: 20px;
    }

    .background {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

    }

    .about-header h2{
        color: purple;
        font-size: 25px;
    }

    .content {
        flex-direction: column-reverse;
    }
    .container {
        flex-direction: column-reverse;
    }
    .cards-container {
        flex-direction: column;
    }

    .footer-container {
        display: flex;
        justify-content: start;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .logo-end {
        font-size: 25px;
    }

    .section-end {
        flex-direction: column;
    }
    .right-content {
        flex-direction: column;
        gap: 20px;
    }

    .left-content {
        flex-direction: column;
        gap: 20px;
        padding-bottom: 10px;
    }

    .menu {
        display: block;
    }
    .mobilenav {
        display: none;
        background-color: #ffff;
        width: 545px;
        position: absolute;
        top: 0;
        height: 75dvh;
        margin-top: 100px;
        color: #fff;
    }

    a{
        text-decoration: none;
        text-transform: capitalize;
        color: #fff;
        cursor: pointer;
        font-family: "Poppins", sans-serif;
    }

    .navmobile {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .iconsmobile {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .active{
        display: block;

    }
    
}
