@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-around;

}
.background {
    height: 30vh;
    width: 100%;
    padding-top: 3%;
   
}

.mobilenav {
  display: none;
}

.menu {
  display: none;
}

.logo{
    color: #000;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}

nav a{
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
    padding: 10px 25px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

nav a:hover{
    border-bottom: 2px solid #000;
}

.fa-solid{
    color: #000;

}

.fa-solid:hover{
  border-bottom: 2px solid #000;
}

.billing{
    height: 100vh;
    width: 100%;
}

.container{
    text-align: center;
}

.container h4, i{
    display: inline-block;
    margin: 0 10px;
    padding: 2px;
    vertical-align: middle;
    font-family: "Poppins", sans-serif;
}

.container h4{
    text-transform: capitalize;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    margin-bottom: 3%;
}

.express h5{
    text-align: center;
    padding-top: 30px;
    text-transform: capitalize;
    color: #000;
    font-family: "Poppins", sans-serif;
}

.container{
  display: flex;
  align-items: start;
  justify-content: center;
  
  gap: 0; 
}

.channels{
  display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 10px;
}

.or{
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 10px; 
  padding-bottom: 5%;
  
}

.main {
  max-width: 800px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ship{
  padding-left: 28%;
  margin-bottom: 2%;
  font-family: "Poppins", sans-serif;
}
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
}

.form-group input, 
.form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.inline-fields {
  display: flex;
  gap: 20px;
}

.half-width {
  flex: 1;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-actions input[type="checkbox"] {
  width: auto;
  margin-right: 5px; 
}

.all{
  display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px; 
}

.checkbox-container{
   display: flex;
    align-items: center;
    gap: 5px;
    font-family: "Poppins", sans-serif;
}

.all button{
  background-color: #000;
  color: white; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px; 
  font-size: 16px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Poppins", sans-serif;
}

.form-actions button {
  background-color: #000;
  font-family: "Poppins", sans-serif;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.form-actions button:hover {
  background-color: #0056b3;
}

footer {
  height: 50vh;
  background-color: #fff;
  color: #000;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between; 
  max-width: 1500px; 
  margin: 0 auto; 
  padding: 0 20px;
}

.footer-section {
  flex: 1;
  margin: 0 10px;
  padding-top: 7%;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #000; 
  font-family: "Poppins", sans-serif;
  font-size: 25px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section li {
  font-size: 14px;
  line-height: 1.6;
  color: #000;
  margin-bottom: 5px;
  font-size: 20px;
}

.footer-section li:hover {
  color: #fff;
  cursor: pointer;
}

.section-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  color: #000;
  max-width: 2000px;
  border: 2px solid #000;
  margin: 20px auto; 
}

.left-content {
  display: flex;
  align-items: center;
}

.logo-end {
  padding-left: 33%;
  height: auto;
  margin-right: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 55px;

}

h6 {
  font-size: 16px;
  margin: 0;
}

.right-content {
  display: flex;
  align-items: center;
}

i, .fa-thin{
  margin-left: 15px;
  text-decoration: none;
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
  color: #000;
}

i, .fa-thin:hover{
  transform: scale(1.1);
}

footer {
  height: 50vh;
  background-color: #fff;
  color: #000;
  padding-top: 30%;
}

.footer-container {
  display: flex;
  justify-content: space-between; 
  max-width: 1500px; 
  margin: 0 auto; 
  padding: 0 20px;
}

.footer-section {
  flex: 1;
  margin: 0 10px;
  padding-top: 7%;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #000; 
  font-family: "Poppins", sans-serif;
  font-size: 25px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section li {
  font-size: 14px;
  line-height: 1.6;
  color: #000;
  margin-bottom: 5px;
  font-size: 20px;
}

.footer-section li:hover {
  color: #fff;
  cursor: pointer;
}

.section-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  color: #000;
  max-width: 2000px;
  border: 2px solid #000;
  margin: 20px auto; 
}

.left-content {
  display: flex;
  align-items: center;
}

.logo-end {
  padding-left: 33%;
  height: auto;
  margin-right: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 55px;

}

h6 {
  font-size: 16px;
  margin: 0;
}

.right-content {
  display: flex;
  align-items: center;
}

.fa-brands, .fa-thin{
  margin-left: 15px;
  text-decoration: none;
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.fa-brands, .fa-thin:hover{
  transform: scale(1.1);
}




@media screen and (max-width: 571px)  {
  nav {
      display: none;
  }

  .icons {
      display: none;
  }
  header {
      justify-content: space-between;
      padding-left: 20px;
  }

  .background {
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
  }

  .channels{
    flex-direction: column;
    padding-top: 5%;
  }

  .ship{
    font-size: 20px;
    padding-bottom: 3%;
  }

  .footer-container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding-top: 150%;
    /* padding: 0; */
    margin: 0;
}
.logo-end {
    font-size: 25px;
}

.section-end {
    flex-direction: column;
}
.right-content {
    flex-direction: column;
    gap: 20px;
}

.left-content {
    flex-direction: column;
    gap: 20px;
    padding-bottom: 10px;
}

.all{
  flex-direction: column;
}

.checkbox-container{
  margin-bottom: 5%;
}

.menu {
  display: block;
}
.mobilenav {
  display: none;
  background-color: #fff;
  width: 540px;
  position: absolute;
  top: 0;
  height: 70dvh;
  margin-top: 100px;
  color: #fff;
  z-index: 1;
}

a{
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.navmobile {
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 2;
}

.iconsmobile {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.active{
  display: block;

}

  
}